# Ignorar todo por defecto
*

# Permitir archivos de la web y el instalador
!index.html
!app-release.apk
!.gitignore
!LICENSE.md

# Permitir carpetas de idiomas y su contenido
!es/
!es/*
!en/
!en/*
!pt/
!pt/*
!zh/
!zh/*
!fr/
!fr/*

# Permitir assets de la web
!github_assets/
!github_assets/*

# Permitir archivos de verificación en cualquier carpeta
!google*.html
!politica.html
